.header-sidebar {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     row-gap: 30px;
     padding: 15px;
     background-color: #eeeeee;
     border-bottom: 1px solid #bdbdbd;
     &__top {
          max-height: 100px;
          display: flex;
          column-gap: 20px;
          align-items: center;
          overflow: hidden;
          padding: 10px;
     }
     &__full-name {
          display: inline-block;
     }
}
