.sidebar {
     // flex: 0 0 300px;
     max-width: 400px;
     display: flex;
     flex-direction: column;
     border-right: 1px solid #bdbdbd;
     height: 100vh;
     &__header {
          min-height: 150px;
          
     }
     &__dialogs {
          flex: 1 1 auto;
          overflow-y: hidden;
     }
     @media (max-width: 767.98px) {
          background-color: #fff;
          position: fixed;
          z-index: 100;
          transform: translateX(-100%);
          transition: transform 0.4s;
          &.active  {
               transform: translateX(0%);
          }
     }
}

.dialogs {
     display: flex;
     flex-direction: column;
     &__top {
          min-height: 120px;
          padding: 50px 15px;
     }
     &__title {
          font-weight: normal;
          font-size: 28px;
          color: #29b6f6;
     }
}
